@CHARSET "ISO-8859-1";
.spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/spinner.gif) 50% 50% no-repeat #fff;
}
.preloader {
  background: url(../img/loader.gif) center center no-repeat;
}
  
.green {
	color:#00AA4F;
	font-weight:bold;
}
.list {
  list-style: none outside;
  padding-top: 14px;
  float: left;
  min-width: 106px;
  margin: 0;
}
.list li {
  background: url(../img/marker-1.png) no-repeat 0 7px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.list li.last {
  padding-bottom: 0;
}

.magnifier {
  opacity: 1;
  position: relative;
  height: auto;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.magnifier:hover {
  opacity: 0.7;
}
.magnifier:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  background: url('../img/magnifier.png') center center no-repeat #000000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.magnifier:hover:after {
  opacity: 0.6;
}
.test_sq{
    background-color: lightgrey;
    width: 25px;
    padding: 5px;
    border: 1px solid white;
    margin: 1px;
}
/* #### iPhone 4+ Portrait or Landscape #### */
@media ( min-width :1px) and (max-width:479px){
	.test_sq{ 		/* makes a square at the end of the menu to show which CSS is used */
    	background-color: #FFF !important;
	}
	.h3, h3 {
	font-size: 18px
	}
	.via_trademarks-a-link-font-size {
		font-size: 10px;
	}
	.icon-bar {
	background-color: #FFF;
	}
	
}


@media ( min-width :480px) and (max-width:767px){
	.test_sq{ 		/* makes a square at the end of the menu to show which CSS is used */
    	background-color: #F00!important;
	}
	.icon-bar {
	background-color: #F00!important;
	}
	
}
@media ( min-width :768px) and (max-width:1023px){
	.test_sq{ 		/* makes a square at the end of the menu to show which CSS is used */
    	background-color: yellow !important;
	}
	.icon-bar {
	background-color: yellow !important;
	}
	
}
@media ( min-width :1024px) and (max-width:1199px){
	.test_sq{ 		/* makes a square at the end of the menu to show which CSS is used */
    	background-color: #090!important;
	}
	.icon-bar {
	background-color: #090!important;
	}
	.h2, h2 {
		font-size: 22px
	}
	.h4, h4 {
		font-size: 14px
	}
	
}

@media ( min-width :1200px) {
	.test_sq{ 		/* makes a square at the end of the menu to show which CSS is used */
    	background-color: #090!important;
	}
	.icon-bar {
	background-color: #090!important;
	}
	
	
}
@media ( max-width :1200px) {
	.hidden-ko {
		display: none !important
	}
}
/* @media ( min-width :560px) and (max-width:787px){
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
		.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		float: left;
	}
	.col-sm-6 {
		width: 50%
	}
}
 */
	
.video-light a
  {
    position  : relative;
    display   : block;
    margin    : 15px 0;
    outline   : 0;
    box-shadow  : 0;
  }
.video-light a:hover .video-overlay
  {
    display   : block;
  }
.video-overlay
  {
    display   : none;
    position  : absolute;
    width   : 100%;
    height    : 100%;
    top     : 0;
    z-index   : 900;
    background  : transparent url(../img/video-thumb/bg-play.png) no-repeat center center;
    box-shadow  : inset 0px 0px 50px #000;
    border    : 5px solid #fff;
  }
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
img.stretch
  {
    width       : 100%;
  }
 aside { color: #fff; }	
 
 .text-red {
	color: #ff0000
}
.text-green {
	color:#00AA4F;
}
/* ------------------------------------------ */
.panel-green {
	border-color: #00ff00
}

.panel-green>.panel-heading {
	color: #00ff00;
	background-color: #0000ff;
	border-color: #ff8040
}

.panel-green>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #000000
}

.panel-green>.panel-heading .badge {
	color: #000000;
	background-color: #a94442
}

.panel-green>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ebccd1
}






.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#ff0000;
}
.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    
    margin:0px;
    border-bottom:1px dotted #555; 
}
